Repository COS301-SE-2021/Rabbitania, pull requests merged in 2021-06, with the labels that each got.

#32 Restructured Noitification subsystem
  .idea/.idea.Rabbitania.dir/.idea/workspace.xml
  backend/backend_api.Tests/NotificationUnitTests.cs
  backend/backend_api.Tests/NotificationsIntegrationTests.cs
  backend/backend_api/Notifications/Controller/NotificationsController.cs
  backend/backend_api/Notifications/Data/INotificationContext.cs
  backend/backend_api/Notifications/Data/INotificationRepository.cs
  backend/backend_api/Notifications/Data/Migrations/20210608214625_InitialNotificationCreate.Designer.cs
  backend/backend_api/Notifications/Data/Migrations/20210608214625_InitialNotificationCreate.cs
  backend/backend_api/Notifications/Data/Migrations/NotificationContextModelSnapshot.cs
  backend/backend_api/Notifications/Data/NotificationContext.cs
  backend/backend_api/Notifications/Data/NotificationRepository.cs
  backend/backend_api/Notifications/Models/INotification.cs
  backend/backend_api/Notifications/Models/Notification.cs
  backend/backend_api/Notifications/Models/NotificationTypeEnum.cs
  backend/backend_api/Notifications/Models/Requests/RetrieveNotificationsRequest.cs
  backend/backend_api/Notifications/Models/Responses/RetrieveNotificationsResponse.cs
  backend/backend_api/Notifications/Services/INotificationService.cs
  backend/backend_api/Notifications/Services/NotificationService.cs
  backend/backend_api/Startup.cs
  backend/backend_api/backend_api.csproj
Labels: Backend

#36 Finished GetUserRequest and GetUserResponse
  .vs/ProjectSettings.json
  .vs/Rabbitania/v16/.suo
  .vs/VSWorkspaceState.json
  .vs/slnx.sqlite
  backend/backend_api.Tests/NoticeBoardThreadTests.cs
  backend/backend_api.Tests/UserIntegrationTest.cs
  backend/backend_api.Tests/UserUnitTests.cs
  backend/backend_api.Tests/backend_api.Tests.csproj
  backend/backend_api/Models/DatabaseContext.cs
  backend/backend_api/Models/IDatabaseContext.cs
  backend/backend_api/Startup.cs
  backend/backend_api/User/Controllers/Controllers/UserController.cs
  backend/backend_api/User/Controllers/Controllers/UserEmailsController.cs
  backend/backend_api/User/Data/IUserContext.cs
  backend/backend_api/User/Data/IUserEmailsContext.cs
  backend/backend_api/User/Data/IUserEmailsRepository.cs
  backend/backend_api/User/Data/IUserRepository.cs
  backend/backend_api/User/Data/UserContext.cs
  backend/backend_api/User/Data/UserEmailsContext.cs
  backend/backend_api/User/Data/UserEmailsRepository.cs
  backend/backend_api/User/Data/UserRepository.cs
  backend/backend_api/User/Models/Requests/GetUserRequest.cs
  backend/backend_api/User/Models/Responses/GetUserResponse.cs
  backend/backend_api/User/Models/User/OfficeLocation.cs
  backend/backend_api/User/Models/User/User.cs
  backend/backend_api/User/Models/User/UserEmails.cs
  backend/backend_api/User/Models/User/UserRoles.cs
  backend/backend_api/User/Services/IUserService.cs
  backend/backend_api/User/Services/UserService.cs
  backend/backend_api/appsettings.json
  backend/backend_api/backend_api.csproj
Labels: Backend

#49 Added EditProfileRequest and EditProfileResponse
  backend/backend_api/Data/Migrations/NotificationContextModelSnapshot.cs
  backend/backend_api/Models/User/Requests/EditProfileRequest.cs
  backend/backend_api/Models/User/Responses/EditProfileResponse.cs
Labels: Backend, Feature

#50 Added Request and Response Objects for ViewProfile
  backend/backend_api/Models/User/Requests/GetUserRequest.cs
  backend/backend_api/Models/User/Requests/ViewProfileRequest.cs
  backend/backend_api/Models/User/Responses/ViewProfileResponse.cs
Labels: Backend, Feature

#55 EditProfile functions created
  backend/backend_api/Controllers/User/UserController.cs
  backend/backend_api/Data/User/IUserRepository.cs
  backend/backend_api/Data/User/UserRepository.cs
  backend/backend_api/Models/User/Requests/EditProfileRequest.cs
  backend/backend_api/Models/User/Responses/GetUserResponse.cs
  backend/backend_api/Models/User/User.cs
  backend/backend_api/Services/User/IUserService.cs
  backend/backend_api/Services/User/UserService.cs
Labels: Backend

#56 Amended ViewProfile
  backend/backend_api/Data/User/UserRepository.cs
  backend/backend_api/Models/User/Responses/ViewProfileResponse.cs
Labels: Backend

#58 Finalized Google Login endpoint
  backend/backend_api/Controllers/Auth/GoogleSignIn.cs
  backend/backend_api/Models/Auth/Requests/GoogleSignInRequest.cs
  backend/backend_api/Models/Auth/Responses/GoogleResponse.cs
Labels: Backend, Feature

#59 Added User and UserEmail tables to the Db through migrations
  backend/backend_api/Controllers/User/UserController.cs
  backend/backend_api/Data/User/IUserContext.cs
  backend/backend_api/Data/User/UserContext.cs
  backend/backend_api/Data/User/UserRepository.cs
Labels: Backend

#65 Added Configuration for User DB
  backend/backend_api/Data/User/UserContext.cs
  backend/backend_api/Startup.cs
Labels: Backend

#66 Added the necessary code to the user repository, service and controller
  backend/backend_api/Controllers/User/UserController.cs
  backend/backend_api/Data/User/IUserRepository.cs
  backend/backend_api/Data/User/UserRepository.cs
  backend/backend_api/Services/User/IUserService.cs
  backend/backend_api/Services/User/UserService.cs
Labels: Backend, Feature

#70 Changed the way the actual Google response is created and populated
  backend/backend_api/Controllers/Auth/GoogleSignIn.cs
  backend/backend_api/Models/Auth/Responses/GoogleResponse.cs
Labels: Backend, Fix

#75 Added request and response objects to notification
  backend/backend_api/Models/Notification/Requests/CreateNotificationRequest.cs
  backend/backend_api/Models/Notification/Responses/CreateNotificationResponse.cs
Labels: Backend

#77 Implemented CreateNotification use case.
  backend/backend_api/Controllers/Notification/NotificationsController.cs
  backend/backend_api/Data/Notification/INotificationContext.cs
  backend/backend_api/Data/Notification/INotificationRepository.cs
  backend/backend_api/Data/Notification/NotificationRepository.cs
  backend/backend_api/Models/Notification/INotification.cs
  backend/backend_api/Models/Notification/Notification.cs
  backend/backend_api/Services/Notification/INotificationService.cs
  backend/backend_api/Services/Notification/NotificationService.cs
Labels: Backend, Feature

#80 Implemented checks to make sure email is in DB when a user attempts to log in
  backend/backend_api/Controllers/Auth/GoogleSignIn.cs
  backend/backend_api/Data/User/IUserEmailsRepository.cs
  backend/backend_api/Data/User/IUserRepository.cs
  backend/backend_api/Data/User/UserEmailsRepository.cs
  backend/backend_api/Data/User/UserRepository.cs
  backend/backend_api/Models/Auth/Requests/GoogleSignInRequest.cs
  backend/backend_api/Models/Auth/Responses/GoogleResponse.cs
  backend/backend_api/Models/Auth/Responses/LoginResponse.cs
  backend/backend_api/Services/Auth/AuthService.cs
  backend/backend_api/Services/Auth/IAuthService.cs
  backend/backend_api/Startup.cs
Labels: Backend, Feature

#81 Implemented checks to make sure email is in DB when a user attempts to log in
  backend/backend_api/Controllers/Auth/GoogleSignIn.cs
  backend/backend_api/Data/User/IUserEmailsRepository.cs
  backend/backend_api/Data/User/IUserRepository.cs
  backend/backend_api/Data/User/UserEmailsRepository.cs
  backend/backend_api/Data/User/UserRepository.cs
  backend/backend_api/Models/Auth/Requests/GoogleSignInRequest.cs
  backend/backend_api/Models/Auth/Responses/GoogleResponse.cs
  backend/backend_api/Models/Auth/Responses/LoginResponse.cs
  backend/backend_api/Services/Auth/AuthService.cs
  backend/backend_api/Services/Auth/IAuthService.cs
  backend/backend_api/Startup.cs
Labels: Backend, Feature

#91 FInished Notifications, ready for Demo 2
  backend/backend_api/Controllers/Notification/NotificationsController.cs
  backend/backend_api/Data/Notification/INotificationRepository.cs
  backend/backend_api/Data/Notification/NotificationRepository.cs
  backend/backend_api/Models/Notification/Responses/RetrieveNotificationsResponse.cs
  backend/backend_api/Services/Notification/INotificationService.cs
  backend/backend_api/Services/Notification/NotificationService.cs
Labels: Backend

#92 Fixed EditProfile and cleaned up UserController.
  backend/backend_api/Controllers/User/UserController.cs
  backend/backend_api/Data/User/UserRepository.cs
  backend/backend_api/Models/User/Requests/EditProfileRequest.cs
Labels: Backend

#98 Added custom exception.
  backend/backend_api/Exceptions/Auth/InvalidDomainException.cs
  backend/backend_api/Exceptions/Auth/InvalidEmailException.cs
Labels: Backend

#99 Implemented domain check for email login
  backend/backend_api/Controllers/Auth/GoogleSignIn.cs
  backend/backend_api/Models/Auth/Responses/DomainResponse.cs
  backend/backend_api/Models/Auth/Responses/LoginResponse.cs
  backend/backend_api/Services/Auth/AuthService.cs
  backend/backend_api/Services/Auth/IAuthService.cs
Labels: Backend, Feature

#100 Changed domain check to castellodev.co.za
  backend/backend_api/Services/Auth/AuthService.cs
Labels: Backend, Fix

#101 Fix some issues raised in meeting in Notifications
  backend/backend_api/Data/Migrations/NotificationContextModelSnapshot.cs
  backend/backend_api/Data/Notification/NotificationRepository.cs
  backend/backend_api/Models/Notification/INotification.cs
  backend/backend_api/Models/Notification/Notification.cs
  backend/backend_api/Models/Notification/Requests/CreateNotificationRequest.cs
  backend/backend_api/Services/Notification/NotificationService.cs
Labels: Backend

#103 Fixedtable structure and added HttpStatusCodes
  backend/backend_api/Data/Migrations/20210612124356_InitialSetUp.Designer.cs
  backend/backend_api/Data/Migrations/20210612124356_InitialSetUp.cs
  backend/backend_api/Data/Migrations/NotificationContextModelSnapshot.cs
  backend/backend_api/Data/Notification/NotificationRepository.cs
  backend/backend_api/Exceptions/Notifications/InvalidNotificationRequestException.cs
  backend/backend_api/Models/Notification/INotification.cs
  backend/backend_api/Models/Notification/Notification.cs
  backend/backend_api/Models/Notification/Responses/CreateNotificationResponse.cs
  frontend/.idea/frontend.iml
Labels: Backend

#105 Fixed RetrieveNotification request.
  backend/backend_api/Models/Notification/Responses/RetrieveNotificationsResponse.cs
  backend/backend_api/Services/Notification/NotificationService.cs
Labels: Backend

#108 Created user email responses, requests, methods in service and repository
  backend/backend_api.Tests/AuthServiceTests.cs
  backend/backend_api/Data/User/IUserRepository.cs
  backend/backend_api/Data/User/UserRepository.cs
  backend/backend_api/Models/User/Requests/CreateEmailRequest.cs
  backend/backend_api/Models/User/Responses/CreateEmailResponse.cs
  backend/backend_api/Models/User/UserEmails.cs
  backend/backend_api/Services/User/IUserService.cs
  backend/backend_api/Services/User/UserService.cs
Labels: Backend, Fix, Testing

#110 Setup the backend endpoint to return the outstanding user info for an exisitng user logging in to the system
  backend/backend_api/Controllers/Auth/GoogleSignIn.cs
  backend/backend_api/Data/User/IUserRepository.cs
  backend/backend_api/Data/User/UserRepository.cs
  backend/backend_api/Models/Auth/Requests/GoogleSignInRequest.cs
  backend/backend_api/Services/Auth/AuthService.cs
  backend/backend_api/Services/Auth/IAuthService.cs
  backend/backend_api/Services/User/IUserService.cs
  backend/backend_api/Services/User/UserService.cs
Labels: Backend, enhancement

#112 Added CreateUser to the GoogleSignIn API
  backend/backend_api/Controllers/Auth/GoogleSignIn.cs
  backend/backend_api/Data/User/UserRepository.cs
  backend/backend_api/Models/User/OfficeLocation.cs
  backend/backend_api/Models/User/UserEmails.cs
  backend/backend_api/Models/User/UserRoles.cs
Labels: Backend, Feature

#114 Unit Tests for Notifications
  backend/backend_api.Tests/NotificationTests/UnitTests/CreateNotificationTests.cs
  backend/backend_api.Tests/NotificationTests/UnitTests/RetrieveNotificationsTests.cs
  backend/backend_api.Tests/backend_api.Tests.csproj
  backend/backend_api/Exceptions/Notifications/InvalidPayloadException.cs
  backend/backend_api/Exceptions/Notifications/InvalidUserIdException.cs
  backend/backend_api/Models/Notification/Requests/CreateNotificationRequest.cs
  backend/backend_api/Services/Notification/NotificationService.cs
Labels: Backend, Testing

#117 Finished Notifications Unit Test
  backend/backend_api.Tests/NotificationTests/UnitTests/RetrieveNotificationsTests.cs
  backend/backend_api/Controllers/Auth/GoogleSignIn.cs
  backend/backend_api/Data/User/UserRepository.cs
  backend/backend_api/Models/User/UserEmails.cs
Labels: Backend, Testing

#119 Started Integration Testing
  backend/backend_api.Tests/NotificationTests/IntegrationTests/NotificationControllerTests.cs
  backend/backend_api.Tests/NotificationTests/IntegrationTests/NotificationIntegrationTests.cs
  backend/backend_api.Tests/backend_api.Tests.csproj
  backend/backend_api/backend_api.csproj
Labels: Backend, Testing

#120 Auth unit tests
  backend/backend_api.Tests/Auth/AuthServiceTests.cs
  backend/backend_api.Tests/AuthServiceTests.cs
  backend/backend_api/Controllers/Auth/GoogleSignIn.cs
  backend/backend_api/Data/User/IUserRepository.cs
  backend/backend_api/Data/User/UserRepository.cs
  backend/backend_api/Exceptions/Auth/NullEmailException.cs
  backend/backend_api/Models/Auth/Requests/GoogleSignInRequest.cs
  backend/backend_api/Models/User/User.cs
  backend/backend_api/Services/Auth/AuthService.cs
  backend/backend_api/Services/Auth/IAuthService.cs
Labels: Backend, Testing

#125 Edited Auth response to return a 201 (created)
  backend/backend_api.Tests/NotificationTests/IntegrationTests/NotificationControllerTests.cs
  backend/backend_api.Tests/NotificationTests/IntegrationTests/NotificationIntegrationTests.cs
  backend/backend_api.Tests/backend_api.Tests.csproj
  backend/backend_api/Controllers/Auth/GoogleSignIn.cs
Labels: Backend

#131 Created new GetUserID endpoint for frontend
  backend/backend_api/Controllers/Auth/GoogleSignIn.cs
  backend/backend_api/Services/Auth/AuthService.cs
  backend/backend_api/Services/Auth/IAuthService.cs
Labels: Backend, Fix, enhancement

#128 Notification Integration tests, trying to do
  backend/backend_api.Tests/NotificationTests/IntegrationTests/IntegrationSeedData.cs
  backend/backend_api.Tests/NotificationTests/IntegrationTests/NotificationControllerTests.cs
  backend/backend_api.Tests/NotificationTests/IntegrationTests/NotificationIntegrationTests.cs
  backend/backend_api/Data/Notification/NotificationRepository.cs
  backend/backend_api/Models/Notification/Notification.cs
Labels: Backend, Testing

#136 Dotnet test fixes
  backend/backend_api.Tests/Auth/IntegrationTests/AuthServiceIntegrationTests.cs
  backend/backend_api.Tests/Auth/UnitTests/AuthServiceTests.cs
  backend/backend_api.Tests/backend_api.Tests.csproj
  backend/backend_api/Services/Auth/AuthService.cs
  backend/backend_api/Services/User/UserService.cs
Labels: Backend, Fix, Testing

#144 Google endpoint tests
  backend/backend_api.Tests/AuthIntegrationTests.cs
  backend/backend_api.Tests/GoogleSignInControllerTests.cs
Labels: Backend, Testing

#157 General clean up
  backend/backend_api/Controllers/Auth/GoogleSignIn.cs
Labels: Backend

#175 Implemented sending emails
  backend/backend_api/Controllers/Notification/NotificationsController.cs
  backend/backend_api/Exceptions/Notifications/EmailFailedToSendException.cs
  backend/backend_api/Models/Notification/EmailSettings.cs
  backend/backend_api/Models/Notification/Requests/SendEmailNotificationRequest.cs
  backend/backend_api/Models/Notification/Responses/SendEmailNotificationResponse.cs
  backend/backend_api/Services/Notification/INotificationService.cs
  backend/backend_api/Services/Notification/NotificationService.cs
  backend/backend_api/Startup.cs
  backend/backend_api/appsettings.Development.json
  backend/backend_api/appsettings.json
  backend/backend_api/backend_api.csproj
Labels: Backend, Feature
