Repository COS301-SE-2021/Rabbitania, pull requests merged in 2021-08, with the labels that each got.

#212 PR for deployment
  backend/backend_api/Models/Booking/Requests/CancelBookingScheduleRequest.cs
  backend/backend_api/Models/Booking/Requests/CreateBookingScheduleRequest.cs
  backend/backend_api/Models/Booking/Requests/GetAllBookingSchedulesRequest.cs
  backend/backend_api/Models/Booking/Requests/GetBookingScheduleRequest.cs
  backend/backend_api/Models/Booking/Requests/UpdateBookingScheduleRequest.cs
  backend/backend_api/Models/Booking/Responses/CancelBookingScheduleResponse.cs
  backend/backend_api/Models/Booking/Responses/CreateBookingScheduleResponse.cs
  backend/backend_api/Models/Booking/Responses/GetAllBookingSchedulesResponse.cs
  backend/backend_api/Models/Booking/Responses/GetBookingScheduleResponse.cs
  backend/backend_api/Models/Booking/Responses/UpdateBookingScheduleResponse.cs
Labels: Backend

#219 Request and Response objects for new BookingScheedule Model
  backend/backend_api/Models/Booking/Requests/CancelBookingScheduleRequest.cs
  backend/backend_api/Models/Booking/Requests/CreateBookingScheduleRequest.cs
  backend/backend_api/Models/Booking/Requests/GetAllBookingSchedulesRequest.cs
  backend/backend_api/Models/Booking/Requests/GetBookingScheduleRequest.cs
  backend/backend_api/Models/Booking/Requests/UpdateBookingScheduleRequest.cs
  backend/backend_api/Models/Booking/Responses/CancelBookingScheduleResponse.cs
  backend/backend_api/Models/Booking/Responses/CreateBookingScheduleResponse.cs
  backend/backend_api/Models/Booking/Responses/GetAllBookingSchedulesResponse.cs
  backend/backend_api/Models/Booking/Responses/GetBookingScheduleResponse.cs
  backend/backend_api/Models/Booking/Responses/UpdateBookingScheduleResponse.cs
Labels: Backend, Feature, enhancement

#220 Added NavBar to booking system
  frontend/frontend/lib/src/screens/Booking/bookingDayScreen.dart
  frontend/frontend/lib/src/screens/Booking/bookingHomeScreen.dart
  frontend/frontend/lib/src/widgets/Booking/cancelBookingButton.dart
Labels: Frontend

#221 Completed BookingSchedule repository and updated a few request and response objects
  backend/backend_api/Data/Booking/BookingRepository.cs
  backend/backend_api/Data/Booking/BookingScheduleRepository.cs
  backend/backend_api/Data/Booking/IBookingRepository.cs
  backend/backend_api/Data/Booking/IBookingScheduleRepository.cs
  backend/backend_api/Models/Booking/Requests/GetBookingScheduleRequest.cs
  backend/backend_api/Models/Booking/Responses/CancelBookingScheduleResponse.cs
Labels: Backend, Feature

#222 Finsihed CreateBooking
  backend/backend_api/Controllers/Booking/BookingController.cs
  backend/backend_api/Data/Booking/BookingRepository.cs
  backend/backend_api/Models/Booking/Booking.cs
  backend/backend_api/Models/Booking/IBooking.cs
  backend/backend_api/Models/Booking/Requests/CreateBookingRequest.cs
  backend/backend_api/Services/Booking/BookingService.cs
  frontend/frontend/lib/src/models/Booking/bookingModel.dart
  frontend/frontend/lib/src/models/Booking/bookingScheduleModel.dart
  frontend/frontend/lib/src/provider/booking_provider.dart
  frontend/frontend/lib/src/screens/Booking/bookingDayScreen.dart
  frontend/frontend/lib/src/screens/Booking/bookingHomeScreen.dart
  frontend/frontend/lib/src/screens/Booking/bookingViewBookings.dart
  frontend/frontend/lib/src/widgets/Booking/bookingDayScreenButton.dart
  frontend/frontend/lib/src/widgets/Booking/bookingDayText.dart
  frontend/frontend/lib/src/widgets/Booking/viewBookingCard.dart
Labels: Backend, Frontend

#223 Completed BookingScheduleService
  backend/backend_api/Data/Booking/BookingScheduleRepository.cs
  backend/backend_api/Models/Booking/Responses/CreateBookingScheduleResponse.cs
  backend/backend_api/Services/Booking/BookingScheduleService.cs
  backend/backend_api/Services/Booking/IBookingScheduleService.cs
Labels: Backend, Feature

#227 Completed BookingSchedule controller
  backend/backend_api/Controllers/Booking/BookingScheduleController.cs
  backend/backend_api/backend_api.csproj
Labels: Backend, Feature, enhancement

#224 New CreateBooking UI
  frontend/frontend/lib/src/screens/Booking/bookingDayScreen.dart
  frontend/frontend/lib/src/widgets/Booking/bookingDayScreenButton.dart
  frontend/frontend/lib/src/widgets/Booking/bookingDayText.dart
Labels: Frontend

#231 Fixed Booking deletion errors by updating service, controller and repository
  backend/backend_api/Data/Booking/BookingRepository.cs
  backend/backend_api/Services/Booking/BookingService.cs
Labels: bug, Backend, Fix

#235 Added Delete Booking
  frontend/frontend/lib/src/provider/booking_provider.dart
  frontend/frontend/lib/src/widgets/Booking/cancelBookingButton.dart
  frontend/frontend/lib/src/widgets/Booking/viewBookingCard.dart
Labels: Frontend

#236 Created new endpoint for checking availability of a schedule
  backend/backend_api/Controllers/Booking/BookingScheduleController.cs
  backend/backend_api/Models/Booking/Requests/CheckScheduleAvailabilityRequest.cs
  backend/backend_api/Models/Booking/Responses/CheckScheduleAvailabilityResponse.cs
  backend/backend_api/Services/Booking/BookingScheduleService.cs
  backend/backend_api/Services/Booking/IBookingScheduleService.cs
Labels: Feature, Backend

#237 Implemented signalR backend
  backend/backend_api/Hubs/ChatHub.cs
  backend/backend_api/Startup.cs
  backend/backend_api/libman.json
Labels: Feature, POC, Backend

#239 backend/booking/scheduleControllerReturnTypes
  backend/backend_api/Controllers/Booking/BookingScheduleController.cs
Labels: Backend, Frontend, Fix

#241 Fixed Booking Schedule check availability
  backend/backend_api/Controllers/Booking/BookingScheduleController.cs
  backend/backend_api/Data/Booking/BookingScheduleRepository.cs
  backend/backend_api/Data/Booking/IBookingScheduleRepository.cs
  backend/backend_api/Services/Booking/BookingScheduleService.cs
  backend/backend_api/Startup.cs
  frontend/frontend/lib/src/app.dart
  frontend/frontend/lib/src/helper/Booking/bookingHelper.dart
  frontend/frontend/lib/src/models/util_model.dart
  frontend/frontend/lib/src/provider/booking_provider.dart
  frontend/frontend/lib/src/provider/user_provider.dart
  frontend/frontend/lib/src/screens/Booking/bookingDayScreen.dart
  frontend/frontend/lib/src/widgets/Booking/bookingCircularProgressIndicator.dart
  frontend/frontend/lib/src/widgets/Booking/bookingDayButton.dart
  frontend/frontend/lib/src/widgets/Booking/bookingDayText.dart
  frontend/frontend/lib/src/widgets/Booking/bookingErrorAlertDialog.dart
  frontend/frontend/lib/src/widgets/Booking/bookingSucessSnackBar.dart
Labels: Backend, Fix

#242 Finished off Get Availability for the create bookings
  backend/backend_api/Data/Booking/BookingRepository.cs
  frontend/frontend/lib/src/helper/Booking/bookingHelper.dart
  frontend/frontend/lib/src/provider/booking_provider.dart
  frontend/frontend/lib/src/screens/Booking/bookingDayScreen.dart
  frontend/frontend/lib/src/screens/Booking/bookingHomeScreen.dart
  frontend/frontend/lib/src/widgets/Booking/bookingDayButton.dart
  frontend/frontend/lib/src/widgets/Booking/bookingDayText.dart
  frontend/frontend/lib/src/widgets/Booking/bookingViewButton.dart
  frontend/frontend/pubspec.lock
  frontend/frontend/pubspec.yaml
Labels: Backend, Frontend

#243 Implemented full day booking as well as internal handling of booking availability deductions
  backend/backend_api/Services/Booking/BookingScheduleService.cs
Labels: enhancement, Backend

#244 Implemented functions to increase a schedule's availability if a booking is cancelled
  backend/backend_api/Data/Booking/BookingScheduleRepository.cs
  backend/backend_api/Data/Booking/IBookingScheduleRepository.cs
  backend/backend_api/Services/Booking/BookingScheduleService.cs
Labels: Backend, Fix

#246 Booking service implemented to handle all of bookings and schedules
  backend/backend_api/Models/Booking/Responses/CreateBookingResponse.cs
  backend/backend_api/Services/Booking/BookingScheduleService.cs
  backend/backend_api/Services/Booking/BookingService.cs
Labels: Backend, Fix

#248 Booking service refactoring
  backend/backend_api/Data/Booking/BookingRepository.cs
  backend/backend_api/Models/Booking/Requests/UpdateBookingRequest.cs
  backend/backend_api/Services/Booking/BookingScheduleService.cs
  backend/backend_api/Services/Booking/BookingService.cs
Labels: Backend, Fix

#252 Fixed cancel booking bug
  backend/backend_api/Services/Booking/BookingService.cs
Labels: Backend, Fix

#253 Implemented locks for decrementing and incrementing schedule availability
  backend/backend_api/Data/Booking/BookingScheduleRepository.cs
Labels: enhancement, Backend

#257 FIxed variables
  backend/backend_api/Startup.cs
  backend/backend_api/appsettings.json
Labels: Backend, Fix

#278 Serialized Booking GetAllBookings endpoint as Json to match GetBooking endpoint
  backend/backend_api/Controllers/Booking/BookingController.cs
  backend/backend_api/backend_api.csproj
Labels: Backend, Fix

#281 Created video chat project and added Agora token generation to backend
  backend/backend_api/Startup.cs
Labels: enhancement, Feature, Backend, Frontend, Fix

#288 NPL, DateTime and Profile/Routing
  backend/backend_api/Controllers/Forum/ForumController.cs
  backend/backend_api/Data/Forum/ForumRepository.cs
  backend/backend_api/Data/Forum/IForumRepository.cs
  backend/backend_api/Data/NoticeBoard/NoticeBoardRepository.cs
  backend/backend_api/Services/Forum/ForumService.cs
  backend/backend_api/Services/Forum/IForumService.cs
  backend/backend_api/TFIDF/TFIDF.cs
  frontend/frontend/lib/src/provider/forum_provider.dart
  frontend/frontend/lib/src/provider/user_provider.dart
  frontend/frontend/lib/src/screens/Forum/forumCreateThreadScreen.dart
  frontend/frontend/lib/src/screens/Profile/userProfileScreen.dart
  frontend/frontend/lib/src/widgets/Forum/forumHome.dart
  frontend/frontend/lib/src/widgets/Forum/forumLatestThread.dart
Labels: bug, Feature, Backend, Design, Frontend, Fix

#289 Agora backend token generation for channels
  backend/backend_api/Common/ByteBuf.cs
  backend/backend_api/Common/ByteBuffer.cs
  backend/backend_api/Common/IPackable.cs
  backend/backend_api/Common/PackContent.cs
  backend/backend_api/Common/PrivilegeMessage.cs
  backend/backend_api/Controllers/Chat/AgoraController.cs
  backend/backend_api/Data/Migrations/20210802083208_UpdateBookingKeyMigration.Designer.cs
  backend/backend_api/Data/Migrations/20210802083208_UpdateBookingKeyMigration.cs
  backend/backend_api/Data/Migrations/20210802084149_UpdateBookingKeyMigrationv2.Designer.cs
  backend/backend_api/Data/Migrations/20210802084149_UpdateBookingKeyMigrationv2.cs
  backend/backend_api/Data/Migrations/20210810092810_TestingMigrationBookingSchedule.Designer.cs
  backend/backend_api/Data/Migrations/20210810092810_TestingMigrationBookingSchedule.cs
  backend/backend_api/Data/Migrations/20210810093218_TestingMigrationBookingUpdate.Designer.cs
  backend/backend_api/Data/Migrations/20210810093218_TestingMigrationBookingUpdate.cs
  backend/backend_api/Extensions/MemoryStreamExtensions.cs
  backend/backend_api/Media/AccessToken.cs
  backend/backend_api/Media/DynamicKey3.cs
  backend/backend_api/Media/DynamicKey4.cs
  backend/backend_api/Media/Privileges.cs
  backend/backend_api/Media/SignalingToken.cs
  backend/backend_api/Models/Chat/Requests/AgoraAuthRequest.cs
  backend/backend_api/Models/Chat/Responses/AgoraAuthResponse.cs
  backend/backend_api/Utils/AgoraSettings.cs
  backend/backend_api/Utils/DynamicKeyUtil.cs
  backend/backend_api/Utils/Utils.cs
  backend/backend_api/backend_api.csproj
Labels: Backend, Fix

#291 Added new User constructor to not accept ID as it is auto generated in DB
  backend/backend_api/Models/User/Users.cs
Labels: Backend, Fix

#292 Fixed comment error
  frontend/frontend/lib/src/provider/forum_provider.dart
  frontend/frontend/lib/src/widgets/Forum/forumThreadCommentsCards.dart
Labels: bug

#293 Edited GetUser to implement a try catch in order to catch any exceptions if the user is not in the database
  backend/backend_api/Services/Auth/AuthService.cs
Labels: Backend, Fix

#294 backend/Auth/ImplementingExceptionCatching
  backend/backend_api/Services/Auth/AuthService.cs
Labels: Backend, Fix

#295 Changed Auth endpoint from userID to user email
  backend/backend_api/Data/User/IUserRepository.cs
  backend/backend_api/Data/User/UserRepository.cs
  backend/backend_api/Models/Auth/Credentials.cs
  backend/backend_api/Models/User/Requests/GetUserByEmailRequest.cs
  backend/backend_api/Services/Auth/AuthService.cs
  backend/backend_api/Services/User/IUserService.cs
  backend/backend_api/Services/User/UserService.cs
Labels: Backend, Fix

#297 Auth service integration tests
  backend/backend_api.Tests/Auth/IntegrationTests/AuthService.cs
  backend/backend_api.Tests/Auth/IntegrationTests/AuthServiceTest.cs
  backend/backend_api.Tests/AuthIntegrationTests.cs
  backend/backend_api.Tests/AuthServiceTests.cs
  backend/backend_api.Tests/GoogleSignInControllerTests.cs
  backend/backend_api/Services/Auth/AuthService.cs
  backend/backend_api/backend_api.csproj
Labels: Backend, Testing

#313 Updated tests that were failing
  backend/backend_api.Tests/CreateNoticeBoardThreadTests.cs
  backend/backend_api.Tests/NotificationControllerTests.cs
  backend/backend_api.Tests/ViewProfileUnitTests.cs
Labels: Backend, Fix, Testing

#323 Implemented environment variables for integration tests
  .circleci/config.yml
  backend/backend_api.Tests/Auth/IntegrationTests/AuthServiceTest.cs
  backend/backend_api.Tests/Booking/Integration/BookingServiceTests.cs
  backend/backend_api.Tests/Forum/Integration/ForumServiceTest.cs
  backend/backend_api.Tests/Noticeboard/IntegrationTests/NoticeBoardService.cs
Labels: Fix, Testing

#327 Edited Notification tests
  backend/backend_api.Tests/Auth/IntegrationTests/AuthServiceTest.cs
  backend/backend_api.Tests/IntegrationSeedData.cs
  backend/backend_api.Tests/Notification/IntegrationTests/NotificationServiceTests.cs
  backend/backend_api.Tests/RetrieveNotificationsTests.cs
  backend/backend_api.Tests/backend_api.Tests.csproj
  backend/backend_api/Services/Notification/NotificationService.cs
Labels: Testing
