Repository COS301-SE-2021/Rabbitania, pull requests merged in 2021-09, with the labels that each got.

#365 Updated Website - AI-planner
  website/src/app/ai-planner/ai-planner.component.html
  website/src/app/ai-planner/ai-planner.component.scss
  website/src/app/ai-planner/ai-planner.component.ts
  website/src/app/app.module.ts
  website/src/app/services/ai-planner/movable-nodes.ts
  website/src/test_variables/1600x900FloorPlan.jpg
  website/src/test_variables/dummy_node_json.json
Labels: Feature, Frontend

#367 Completed Node Subsecion in backend
  backend/backend_api/Controllers/Node/NodeController.cs
  backend/backend_api/Data/Booking/BookingRepository.cs
  backend/backend_api/Data/Migrations/20210907084115_InitialNodeModelMigration.Designer.cs
  backend/backend_api/Data/Migrations/20210907084115_InitialNodeModelMigration.cs
  backend/backend_api/Data/Migrations/NodeContextModelSnapshot.cs
  backend/backend_api/Data/Node/INodeContext.cs
  backend/backend_api/Data/Node/INodeRepository.cs
  backend/backend_api/Data/Node/NodeContext.cs
  backend/backend_api/Data/Node/NodeRepository.cs
  backend/backend_api/Exceptions/Node/InvalidNodeException.cs
  backend/backend_api/Models/Node/Node.cs
  backend/backend_api/Models/Node/Requests/CreateNodeRequest.cs
  backend/backend_api/Models/Node/Requests/DeleteNodeRequest.cs
  backend/backend_api/Models/Node/Requests/EditNodeRequest.cs
  backend/backend_api/Models/Node/Requests/GetNodeRequest.cs
  backend/backend_api/Models/Node/Responses/CreateNodeResponse.cs
  backend/backend_api/Models/Node/Responses/DeleteNodeResponse.cs
  backend/backend_api/Models/Node/Responses/EditNodeResponse.cs
  backend/backend_api/Models/Node/Responses/GetNodeResponse.cs
  backend/backend_api/Services/Booking/IBookingService.cs
  backend/backend_api/Services/Node/INodeService.cs
  backend/backend_api/Services/Node/NodeService.cs
  backend/backend_api/Startup.cs
Labels: Feature, Backend

#386 Completed NodeService Integration testing
  backend/backend_api.Tests/Auth/IntegrationTests/AuthServiceTest.cs
  backend/backend_api.Tests/Node/Integration/NodeServiceTests.cs
  backend/backend_api/Data/Migrations/20210913110115_NewTestingNotificationMigration.Designer.cs
  backend/backend_api/Data/Migrations/20210913110115_NewTestingNotificationMigration.cs
  backend/backend_api/Data/Node/NodeRepository.cs
  backend/backend_api/Services/Node/NodeService.cs
  frontend/frontend/lib/src/widgets/Booking/bookingAppBar.dart
Labels: Backend, Testing

#387 Added Node integration test workflow to CircleCI
  .circleci/config.yml
Labels: Feature, Testing

#390 Fixed broken tests with helper methods to add mocked nodes to delete
  backend/backend_api.Tests/Node/Integration/NodeServiceTests.cs
Labels: Fix, Testing

#398 Load and stress test scripts
  backend/backend_api.Tests/simple_load_test.js
  backend/backend_api.Tests/stress_test.js
Labels: Testing

#402 Added API endpoint to check if a user is an admin
  backend/backend_api.Tests/Auth/IntegrationTests/AuthServiceTest.cs
  backend/backend_api.Tests/Node/Unit/NodeUnitTests.cs
  backend/backend_api.Tests/User/UnitTests/EditProfileUnitTests.cs
  backend/backend_api.Tests/User/UnitTests/ViewProfileUnitTests.cs
  backend/backend_api/Controllers/User/UserController.cs
  backend/backend_api/Data/User/UserRepository.cs
  backend/backend_api/Exceptions/User/InvalidUserRequest.cs
  backend/backend_api/Exceptions/User/InvalidUserRequestException.cs
  backend/backend_api/Models/User/Requests/CheckAdminStatusRequest.cs
  backend/backend_api/Models/User/Responses/CheckAdminStatusResponse.cs
  backend/backend_api/Services/Auth/AuthService.cs
  backend/backend_api/Services/User/IUserService.cs
  backend/backend_api/Services/User/UserService.cs
Labels: Feature, Backend

#407 Coding standards refactor
  backend/backend_api/Controllers/User/UserController.cs
  backend/backend_api/Data/Booking/BookingScheduleRepository.cs
  backend/backend_api/Models/Auth/GoogleToken.cs
  backend/backend_api/Models/Booking/Requests/CancelBookingScheduleRequest.cs
  backend/backend_api/Models/Booking/Requests/CheckScheduleAvailabilityRequest.cs
  backend/backend_api/Models/Booking/Requests/GetBookingRequest.cs
  backend/backend_api/Models/Booking/Requests/GetBookingScheduleRequest.cs
  backend/backend_api/Models/Booking/Requests/UpdateBookingRequest.cs
  backend/backend_api/Models/Booking/Responses/CheckScheduleAvailabilityResponse.cs
  backend/backend_api/Models/Node/Responses/ActivateNodeResponse.cs
  backend/backend_api/Models/Node/Responses/CreateNodeResponse.cs
  backend/backend_api/Models/Node/Responses/DeactivateAllNodesResponse.cs
  backend/backend_api/Models/Node/Responses/DeleteNodeResponse.cs
  backend/backend_api/Models/Node/Responses/EditNodeResponse.cs
  backend/backend_api/Models/Node/Responses/GetNodeResponse.cs
  backend/backend_api/Models/User/AppRole.cs
  backend/backend_api/Models/User/Requests/CheckAdminStatusRequest.cs
  backend/backend_api/Models/User/Requests/GetUserByEmailRequest.cs
  backend/backend_api/Models/User/Requests/GetUserByIDRequest.cs
  backend/backend_api/Models/User/Requests/GetUserRequest.cs
  backend/backend_api/Models/User/Requests/ViewProfileRequest.cs
  backend/backend_api/Models/User/Responses/CreateEmailResponse.cs
  backend/backend_api/Models/User/Responses/GetUserResponse.cs
  backend/backend_api/Models/User/Responses/MakeUserAdminResponse.cs
  backend/backend_api/Models/User/Responses/ViewProfileResponse.cs
  backend/backend_api/Services/Auth/AuthService.cs
  backend/backend_api/Services/User/UserService.cs
  backend/backend_api/ServicesHelper.cs
  backend/backend_api/Startup.cs
  backend/backend_api/Utils/AgoraSettings.cs
Labels: Backend, Design, Fix

#409 Test fixes after domain change
  backend/backend_api.Tests/Auth/IntegrationTests/AuthServiceTest.cs
Labels: Backend, Fix, Testing

#410 Fixed domain check tests after code cleanup
  backend/backend_api.Tests/Auth/IntegrationTests/AuthServiceTest.cs
Labels: Backend, Fix, Testing

#411 Small Fixes to Ai-Planner
  website/src/app/services/ai-planner/node-service.service.ts
Labels: Feature, Frontend, Fix

#418 Fixed failing tests after user testing updates
  backend/backend_api.Tests/Auth/IntegrationTests/AuthServiceTest.cs
  backend/backend_api.Tests/User/Integration/UserServiceTests.cs
  backend/backend_api/Controllers/User/UserController.cs
  backend/backend_api/Data/User/IUserRepository.cs
  backend/backend_api/Data/User/UserRepository.cs
  backend/backend_api/Models/User/Responses/GetUserResponse.cs
  backend/backend_api/Models/User/Responses/MakeUserAdminResponse.cs
  backend/backend_api/Services/User/IUserService.cs
  backend/backend_api/Services/User/UserService.cs
Labels: Backend, Fix, Testing

#421 Updated circleci config
  .circleci/config.yml
Labels: Testing
