Repository COS301-SE-2021/Rabbitania, pull requests merged in 2021-07, with the labels that each got.

#179 Comments for auth subsystem
  backend/backend_api/Controllers/Auth/GoogleSignIn.cs
  backend/backend_api/Services/Auth/IAuthService.cs
Labels: Backend, documentation

#181 Added new database "HerokuDatabase" for us to use instead of Digital Ocean
  backend/backend_api.Tests/RetrieveNotificationsTests.cs
  backend/backend_api/Data/Migrations/NotificationContextModelSnapshot.cs
  backend/backend_api/Data/Notification/NotificationRepository.cs
  backend/backend_api/Models/Notification/INotification.cs
  backend/backend_api/Models/Notification/Notification.cs
  backend/backend_api/Startup.cs
  backend/backend_api/appsettings.json
Labels: Backend

#182 Code clean up
  backend/backend_api/Controllers/Auth/GoogleSignIn.cs
  backend/backend_api/Controllers/User/UserEmailsController.cs
  backend/backend_api/Data/Notification/NotificationRepository.cs
  backend/backend_api/Models/Notification/Notification.cs
  backend/backend_api/Services/Notification/NotificationService.cs
Labels: Backend

#183 Added exception classes to Booking subsystem
  backend/backend_api/Exceptions/Booking/InvalidBookingException.cs
  backend/backend_api/Exceptions/Booking/InvalidDateException.cs
  backend/backend_api/Exceptions/Booking/InvalidDurationException.cs
Labels: Backend

#184 Created Booking Model
  backend/backend_api/Models/Booking/Booking.cs
  backend/backend_api/backend_api.csproj
Labels: Backend, Feature

#185 Added BookingContext
  backend/backend_api/Data/Booking/BookingContext.cs
  backend/backend_api/Data/Booking/IBookingContext.cs
  backend/backend_api/Data/Migrations/20210703100343_NewDatabaseNotifications.Designer.cs
  backend/backend_api/Data/Migrations/20210703100343_NewDatabaseNotifications.cs
  backend/backend_api/Data/Migrations/20210703100704_NewDatabaseUser.Designer.cs
  backend/backend_api/Data/Migrations/20210703100704_NewDatabaseUser.cs
  backend/backend_api/Data/Migrations/20210703100938_NewDatabaseNoticeBoard.Designer.cs
  backend/backend_api/Data/Migrations/20210703100938_NewDatabaseNoticeBoard.cs
  backend/backend_api/Data/Migrations/NoticeBoardContextModelSnapshot.cs
  backend/backend_api/Data/Migrations/UserContextModelSnapshot.cs
  backend/backend_api/Startup.cs
Labels: Backend, Feature

#186 Finished implementing request classes
  backend/backend_api/Models/Booking/Requests/CancelBookingRequest.cs
  backend/backend_api/Models/Booking/Requests/CreateBookingRequest.cs
  backend/backend_api/Models/Booking/Requests/GetAllBookingsRequest.cs
  backend/backend_api/Models/Booking/Requests/GetBookingRequest.cs
  backend/backend_api/Models/Booking/Requests/UpdateBookingRequest.cs
  backend/backend_api/backend_api.csproj
Labels: Backend, Feature

#187 Added response objects for Booking subsystem
  backend/backend_api/Models/Booking/Booking.cs
  backend/backend_api/Models/Booking/IBooking.cs
  backend/backend_api/Models/Booking/Requests/CancelBookingRequest.cs
  backend/backend_api/Models/Booking/Responses/CancelBookingResponse.cs
  backend/backend_api/Models/Booking/Responses/CreateBookingResponse.cs
  backend/backend_api/Models/Booking/Responses/GetAllBookingsResponse.cs
  backend/backend_api/Models/Booking/Responses/GetBookingResponse.cs
  backend/backend_api/Models/Booking/Responses/UpdateBookingResponse.cs
  backend/backend_api/backend_api.csproj
Labels: Backend

#188 Added Bookings table to the database
  backend/backend_api/Data/Migrations/20210704134635_AddingBookingTablev2.Designer.cs
  backend/backend_api/Data/Migrations/20210704134635_AddingBookingTablev2.cs
  backend/backend_api/Data/Migrations/BookingContextModelSnapshot.cs
  backend/backend_api/Models/Booking/Booking.cs
Labels: Backend

#190 Completed implementation of BookingRepository
  backend/backend_api/Controllers/Booking/BookingController.cs
  backend/backend_api/Data/Booking/BookingRepository.cs
  backend/backend_api/Data/Booking/IBookingRepository.cs
  backend/backend_api/Data/User/UserRepository.cs
  backend/backend_api/Models/Booking/Booking.cs
  backend/backend_api/Models/Booking/Requests/UpdateBookingRequest.cs
  backend/backend_api/Services/Booking/BookingService.cs
  backend/backend_api/Services/Booking/IBookingService.cs
  backend/backend_api/backend_api.csproj
Labels: Backend

#192 Completed implementation of Booking Controller
  backend/backend_api/Controllers/Booking/BookingController.cs
  backend/backend_api/Services/Booking/BookingService.cs
  backend/backend_api/Services/Booking/IBookingService.cs
Labels: Backend

#195 Booking service
  backend/backend_api/Models/User/OfficeLocation.cs
  backend/backend_api/Services/Booking/BookingService.cs
Labels: Backend, Feature

#207 Added View Bookings Screen and other UI fixes
  frontend/frontend/lib/src/models/Booking/booking_model.dart
  frontend/frontend/lib/src/screens/Booking/bookingDayScreen.dart
  frontend/frontend/lib/src/screens/Booking/bookingHomeScreen.dart
  frontend/frontend/lib/src/screens/Booking/bookingViewBookings.dart
  frontend/frontend/lib/src/widgets/Booking/bookingDayButton.dart
  frontend/frontend/lib/src/widgets/Booking/bookingDayText.dart
  frontend/frontend/lib/src/widgets/Booking/bookingViewButton.dart
  frontend/frontend/lib/src/widgets/Booking/cancelBookingButton.dart
  frontend/frontend/lib/src/widgets/Booking/viewBookingCard.dart
Labels: Feature, Frontend

#210 BookingSchedule Model implementation and Booking Model updated
  backend/backend_api.Tests/AuthServiceTests.cs
  backend/backend_api.Tests/EditProfileUnitTests.cs
  backend/backend_api/Data/Booking/BookingScheduleContext.cs
  backend/backend_api/Data/Booking/IBookingScheduleContext.cs
  backend/backend_api/Data/Migrations/20210730225139_InitializeBookingScheduleAndChangesToBooking.cs
  backend/backend_api/Data/Migrations/20210730225838_UpdatedBookingModel.cs
  backend/backend_api/Data/Migrations/BookingContextModelSnapshot.cs
  backend/backend_api/Data/Migrations/BookingScheduleContextModelSnapshot.cs
  backend/backend_api/Models/Booking/BookingSchedule.cs
  backend/backend_api/Models/Booking/IBooking.cs
  backend/backend_api/Models/Booking/IBookingSchedule.cs
  backend/backend_api/Services/Auth/AuthService.cs
  backend/backend_api/Startup.cs
Labels: Backend, Fix, enhancement
